# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# VSCode / IDE
.vscode/
.idea/

# Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Byte-compiled backups
*.pyo

# OS
.DS_Store
Thumbs.db
